@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.bancos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.8fr 1fr 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "banner banner banner banner" "listado titulo titulo titulo" "listado productos productos productos" "listado productos productos productos" "contacto contacto contacto contacto"; }

.banner {
  grid-area: banner; }

.listado {
  grid-area: listado; }

.titulo {
  grid-area: titulo; }

.productos {
  grid-area: productos; }

.contacto {
  grid-area: contacto; }

.banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 100px; }

.ctn-title2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30rem;
  background-image: url("https://www.dangen.com.ar/contenido/art/Mesa-de-jard%C3%ADn-con-asientos-143.png");
  background-size: 280px;
  background-repeat: repeat;
  height: 200px;
  flex-wrap: wrap; }

.ctn-title2 h1 {
  font-size: 50px;
  margin: auto;
  margin-top: 100px;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  color: black;
  background-color: white;
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5); }

.listado {
  background-color: azure;
  margin-left: 20px;
  margin-top: 40px;
  border-radius: 20px;
  padding: 20px;
  height: 80%; }

.ctn-lista1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%; }

.ctn-lista1 li {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%; }

.ctn-lista1 li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #000000;
  font-size: 15px;
  font-weight: 500; }

.ctn-lista1 i {
  color: #098b1e;
  margin-left: 10px; }

.titulo {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 60px; }

.titulo h2 {
  text-align: center;
  margin-bottom: 20px; }

.titulo span {
  margin: auto;
  width: 90%;
  text-align: center;
  font-size: 15px; }

.productos {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  margin-top: 60px; }

.contenedor1 {
  display: flex;
  flex-direction: row; }

.contenedor1 figure {
  position: relative;
  height: 300px;
  cursor: pointer;
  width: 250px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5); }

.contenedor1 figure img {
  width: 100%;
  transition: all 400ms ease-out;
  will-change: transform; }

.contenedor1 figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 103, 123, 0.7);
  transition: all 400ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center; }

.contenedor1 figure:hover > .capa {
  opacity: 1;
  visibility: visible; }

.contenedor1 figure:hover > .capa h3 {
  margin-top: 70px;
  margin-bottom: 15px; }

.contenedor1 figure:hover > img {
  transform: scale(1.3); }

.contenedor1 figure .capa h3 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 400ms ease-out;
  margin-top: 30px; }

.contacto {
  background-color: #3E8DA8; }

.picnic {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "banner banner banner banner" "slider slider slider slider" "impacto impacto impacto impacto" "info-tecnica info-tecnica info-tecnica info-tecnica" "ctn-contact ctn-contact ctn-contact ctn-contact"; }

.banner {
  grid-area: banner; }

.ctn-productos {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.slider {
  grid-area: slider; }

.impacto {
  grid-area: impacto; }

.info-tecnica {
  grid-area: info-tecnica; }

.ctn-contact {
  grid-area: ctn-contact; }

.productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0,5fr 0,5fr 0,5fr 0,5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "banner banner banner" "productos1 productos1 productos1" "productos2 productos2 productos2" "productos3 productos3 productos3" "ctn-contact ctn-contact ctn-contact"; }

.banner {
  grid-area: banner;
  width: 100%;
  margin-top: -5px; }

.banner img {
  width: 100%; }

.productos1 {
  grid-area: productos1;
  width: 100%; }

.productos1 .ctn-texto {
  width: 100%;
  padding-top: 20px; }

.productos2 {
  grid-area: productos2;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px; }

.productos2 .ctn-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.productos2 .ctn-card figure {
  width: 400px; }

.productos2 .ctn-card figure img {
  width: 400px; }

@media screen and (max-width: 1024px) {
  .productos2 .ctn-card {
    width: 100%;
    flex-direction: column;
    margin: auto; }
  .productos2 .ctn-card figure {
    width: 400px; } }

.container_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  margin: auto;
  background-color: #EEEEEE; }

.box__footer {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 40px;
  justify-content: center;
  align-items: center; }

.box__footer .logo img {
  width: 100px; }

.box__footer .terms {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #363333;
  font-size: 18px; }

.box__footer .terms p {
  font-size: 12px; }

.box__footer h2 {
  margin-bottom: 30px;
  color: #343434;
  font-weight: 700; }

.box__footer a {
  margin-top: 10px;
  color: #363333;
  font-weight: 600;
  text-decoration: none; }

.box__footer a:hover {
  opacity: 0.8;
  cursor: pointer; }

.box__footer a .fa-brands {
  font-size: 20px; }

.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px; }

.box__copyright p {
  margin-top: 20px;
  color: #383838;
  font-size: 10px; }

.box__copyright hr {
  border: none;
  height: 1px;
  background-color: #7a7a7a; }

@media screen and (max-width: 800px) {
  .toggle {
    display: inline-block; }
  .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #021222;
    text-align: center;
    overflow: hidden;
    height: calc(100vh - 80px);
    width: 100%;
    z-index: -1;
    top: -100vh;
    transition: .5s; }
  .active {
    top: 80px; }
  .nav-links .link:hover {
    background: #051c38; } }

/* Googlefont Poppins CDN Link */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

body {
  min-height: 100vh; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background: #566c41;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99; }

nav .navbar {
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px; }

.logo img {
  width: 120px; }

nav .navbar .nav-links {
  line-height: 70px;
  height: 100%; }

nav .navbar .links {
  display: flex; }

nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px; }

nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: white;
  font-size: 15px;
  font-weight: 100; }

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg); }

nav .navbar .links li .arrow {
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease; }

nav .navbar .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #566c41;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2; }

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
  display: block; }

.navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.navbar .links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  font-weight: 500; }

.navbar .links li .sub-menu .more-arrow {
  line-height: 40px; }

.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none; }

.links li .sub-menu .more:hover .more-sub-menu {
  display: block; }

.navbar .search-box {
  position: relative;
  height: 40px;
  width: 40px; }

.navbar .search-box i {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease; }

.navbar .search-box .input-box {
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #566c41;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease; }

.navbar.showInput .search-box .input-box {
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #566c41; }

.search-box .input-box::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #566c41;
  right: 10px;
  top: -6px;
  transform: rotate(45deg); }

.search-box .input-box input {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none; }

.navbar .nav-links .sidebar-logo {
  display: none; }

.navbar .bx-menu {
  display: none; }

@media (max-width: 920px) {
  nav .navbar {
    max-width: 100%;
    padding: 0 25px; }
  nav .navbar .logo a {
    font-size: 27px; }
  nav .navbar .links li {
    padding: 0 10px;
    white-space: nowrap; }
  nav .navbar .links li a {
    font-size: 15px; } }

@media (max-width: 800px) {
  .navbar .bx-menu {
    display: block; }
  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background: #566c41;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000; }
  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .sidebar-logo .logo-name {
    font-size: 25px;
    color: #fff; }
  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 25px;
    color: #fff; }
  nav .navbar .links {
    display: block;
    margin-top: 20px; }
  nav .navbar .links li .arrow {
    line-height: 40px; }
  nav .navbar .links li {
    display: block; }
  nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none; }
  nav .navbar .links li .sub-menu li {
    border-bottom: none; }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0; }
  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg); }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none; }
  .navbar .links li .sub-menu .more span {
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */ }
  .links li .sub-menu .more:hover .more-sub-menu {
    display: none; }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: none; }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block; }
  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg); }
  .navbar .nav-links.show2 .links .more-arrow {
    transform: rotate(90deg); } }

@media (max-width: 370px) {
  nav .navbar .nav-links {
    max-width: 100%; } }

.home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0,5fr 1fr 0,5fr 1fr 0,5fr 1fr 0,5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "title title title title" "ctn-text ctn-text ctn-text ctn-text" "ctn-list ctn-list ctn-list ctn-list" "ctn-text1 ctn-text1 ctn-text1 ctn-text1" "ctn-text2 ctn-text2 ctn-text2 ctn-text2" "ctn-card ctn-card ctn-card ctn-card" "ctn-contact ctn-contact ctn-contact ctn-contact"; }

.title {
  grid-area: title; }

.ctn-text {
  grid-area: ctn-text; }

.ctn-list {
  grid-area: ctn-list; }

.ctn-text1 {
  grid-area: ctn-text1; }

.ctn-text2 {
  grid-area: ctn-text2; }

.ctn-card {
  grid-area: ctn-card; }

.ctn-contact {
  grid-area: ctn-contact; }

.title {
  grid-area: title;
  width: 100%;
  display: flex;
  align-items: flex-start; }

.title img {
  width: 100%;
  padding: 100px 0px 0px 0px; }

.ctn-text {
  grid-area: ctn-text;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  background-color: #e8f1f5;
  padding-bottom: 30px;
  padding-top: 30px; }

.ctn-texto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 45%;
  margin: auto;
  margin-left: 20px; }

.ctn-texto h3 {
  font-size: 15px;
  margin: auto;
  text-transform: uppercase;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 20px; }

.ctn-texto h2 {
  font-size: 35px;
  margin-top: 10px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  color: #566c41;
  text-align: center; }

.ctn-texto span {
  font-size: 20px;
  margin: auto;
  margin-top: 10px;
  width: 90%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center; }

.ctn-texto p {
  font-size: 16px;
  margin: auto;
  margin-top: 20px;
  line-height: 25px;
  width: 80%;
  font-family: 'Roboto', sans-serif;
  text-align: center; }

.btn {
  width: 200px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 15px;
  cursor: pointer;
  border: solid 3px #566c41;
  border-radius: 8px;
  transition: all 300ms ease;
  font-family: 'Roboto', sans-serif;
  color: #566c41; }

.btn:hover {
  scale: 1.1;
  font-weight: 600; }

.ctn-img {
  width: 50%;
  margin-right: 20px; }

.ctn-img img {
  width: 100%;
  height: 100%; }

.ctn-list {
  grid-area: ctn-list;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.ctn-list .ctn-texto {
  display: flex;
  flex-direction: column;
  width: 100%; }

.ctn-checklist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap; }

.checklist {
  margin: 10px;
  padding: 10px;
  width: 250px; }

.checklist ol {
  margin: auto; }

.checklist ol li {
  font-size: 14px;
  padding: 5px;
  list-style: none;
  text-align: left; }

.fa-solid {
  color: #0d990d; }

.ctn-text1 {
  grid-area: ctn-text1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  background-color: #e8f1f5;
  padding-bottom: 30px;
  padding-top: 30px; }

.ctn-img1 {
  width: 50%;
  margin-left: 20px; }

.ctn-img1 img {
  width: 100%;
  height: 100%; }

.ctn-text2 {
  grid-area: ctn-text2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  background-color: #ffffff;
  padding-bottom: 30px;
  padding-top: 30px; }

.ctn-text2 .ctn-texto {
  width: 100%; }

.ctn-texto a {
  margin: auto; }

.ctn-card {
  grid-area: ctn-card;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto; }

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent; }

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12); }

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: center;
  justify-content: center; }

.cards_item {
  display: flex;
  padding: 1rem; }

@media (min-width: 40rem) {
  .cards_item {
    width: 50%; } }

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%; } }

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden; }

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #566c41 40%, #ebba52 100%); }

.card_content a {
  text-decoration: none; }

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px; }

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400; }

.btn1 {
  width: 200px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 15px;
  cursor: pointer;
  border: solid 3px #566c41;
  border-radius: 8px;
  transition: all 300ms ease;
  font-family: 'Roboto', sans-serif;
  color: #566c41; }

.btn1:hover {
  scale: 1.1;
  font-weight: 600; }

.ctn-contact {
  grid-area: ctn-contact;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e8f1f5;
  margin-top: 20px; }

.ctn-contact .ctn-texto2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: center; }

@media screen and (max-width: 768px) {
  .ctn-texto {
    width: 100%;
    margin: auto; }
  .ctn-img {
    width: 100%;
    margin-left: 25px;
    margin-right: 40px; }
  .ctn-img img {
    width: 100%; }
  .ctn-checklist {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-wrap: wrap; }
  .ctn-img1 {
    width: 100%;
    margin: auto;
    margin-right: 30px;
    margin-left: 20px; }
  .ctn-img1 img {
    width: 100%; } }

@media screen and (max-width: 425px) {
  .ctn-texto {
    width: 100%;
    margin: auto; }
  .ctn-img {
    width: 100%;
    margin: auto; }
  .ctn-img img {
    width: 90%;
    margin-left: 20px; }
  .ctn-texto h3 {
    font-size: 14px; }
  .ctn-texto h2 {
    font-size: 25px; }
  .ctn-texto span {
    font-size: 18px; }
  .ctn-texto p {
    font-size: 12px; }
  .ctn-card {
    flex-direction: column; }
  .contenedor {
    height: 80vh; } }

@media screen and (max-width: 320px) {
  .ctn-img img {
    margin-left: 15px; } }
