* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  width: 100vw; }

.ctn-nav {
  background-color: #EEEEEE;
  width: 100%;
  display: flex;
  height: 130px;
  position: fixed;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.nav-logo img {
  margin: auto;
  margin-top: 30px;
  margin-left: 40px;
  width: 150px;
  transition: all 300ms ease;
  cursor: pointer; }

.nav-logo img:hover {
  transform: scale(1.1); }

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  height: 100%;
  width: 90%; }

.nav-links li {
  float: left;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-left: 50px;
  text-decoration: none;
  position: relative; }

.nav-links li ul {
  background-color: #EEEEEE;
  display: none;
  position: absolute;
  width: 150px;
  padding: 10px;
  top: 40px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }

.nav-links li ul li {
  width: 100%;
  margin: auto;
  text-align: center; }

.nav-links li:hover > ul {
  display: block; }

.nav-links a {
  text-decoration: none;
  color: black;
  background-color: #EEEEEE;
  font-size: 15px;
  padding: 10px 15px;
  transition: .3s;
  list-style: none; }

.nav-links a:hover {
  background-color: #c7c5c5;
  color: #3a3939;
  border-radius: 3px; }

.ctn-main {
  width: 100vw; }

.ctn-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-image: url("https://img.interempresas.net/fotos/325570.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%; }

.ctn-title h1 {
  font-size: 60px;
  margin-top: 100px; }

.ctn-section1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 100%; }

.ctn-texto {
  display: flex;
  flex-direction: column;
  width: 50%; }

.ctn-texto h3 {
  font-size: 15px;
  margin-top: 40px;
  margin-left: 40px;
  text-transform: uppercase; }

.ctn-texto h2 {
  font-size: 35px;
  margin-top: 10px;
  margin-left: 40px;
  width: 90%; }

.ctn-texto span {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 40px;
  width: 80%; }

.ctn-texto p {
  font-size: 16px;
  margin-top: 20px;
  margin-left: 40px;
  line-height: 25px;
  width: 80%; }

.btn {
  width: 200px;
  margin: auto;
  margin-left: 40px;
  margin-top: 30px;
  padding: 15px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 300ms ease; }

.btn:hover {
  scale: 1.1; }

.ctn-img {
  width: 50%;
  margin: auto; }

.ctn-img img {
  width: 500px; }

.ctn-section2 {
  background-color: #EEEEEE;
  margin-top: 60px; }

.ctn-checklist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px; }

.checklist {
  margin: 10px;
  padding: 10px;
  width: 250px; }

.checklist ol {
  margin-left: 20px; }

.checklist ol li {
  font-size: 14px;
  padding: 5px;
  list-style: none;
  text-align: left; }

.ctn-section3 {
  background-color: #EEEEEE;
  margin-top: 60px;
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 100%; }

.ctn-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 50%; }

.contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.contenedor figure {
  position: relative;
  height: 300px;
  cursor: pointer;
  width: 250px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5); }

.contenedor figure img {
  width: 100%;
  transition: all 400ms ease-out;
  will-change: transform; }

.contenedor figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 103, 123, 0.7);
  transition: all 400ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center; }

.contenedor figure:hover > .capa {
  opacity: 1;
  visibility: visible; }

.contenedor figure:hover > .capa h3 {
  margin-top: 70px;
  margin-bottom: 15px; }

.contenedor figure:hover > img {
  transform: scale(1.3); }

.contenedor figure .capa h3 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 400ms ease-out;
  margin-top: 30px; }

.btn1 {
  width: 200px;
  margin: auto;
  margin-top: 100px;
  padding: 15px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 300ms ease; }

.btn1:hover {
  scale: 1.1; }

.ctn-section4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px; }

.ctn-section4 .ctn-texto2 {
  margin-left: 30px; }

.ctn-section4 input {
  margin: auto; }
