.bancos {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.8fr 1fr 0.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "banner banner banner banner"
      "listado titulo titulo titulo"
      "listado productos productos productos"
      "listado productos productos productos"
      "contacto contacto contacto contacto";
  }
  
  .banner { grid-area: banner; }
  
  .listado { grid-area: listado; }
  
  .titulo { grid-area: titulo; }
  
  .productos { grid-area: productos; }
  
  .contacto { grid-area: contacto; }
  

  .banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 100px;
  }

  .ctn-title2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30rem;
    background-image: url('https://www.dangen.com.ar/contenido/art/Mesa-de-jard%C3%ADn-con-asientos-143.png');
    background-size: 280px;
    background-repeat:repeat;
    height: 200px;
    flex-wrap: wrap;
}

.ctn-title2 h1 {
    font-size: 50px;
    margin: auto;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
}

.listado{
    background-color: azure;
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 20px;
    padding: 20px;
    height: 80%;
}

.ctn-lista1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.ctn-lista1 li{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.ctn-lista1 li a{
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
  }

  .ctn-lista1 i{
    color: rgb(9, 139, 30);
    margin-left: 10px;
  }

  .titulo{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 60px;
  }

  .titulo h2{
    text-align: center;
    margin-bottom: 20px;
  }

  .titulo span{
    margin: auto;
    width: 90%;
    text-align: center;
    font-size: 15px;
  }

  .productos{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    margin-top: 60px;
  }

  .contenedor1 {
    display: flex;
    flex-direction: row;
}

.contenedor1 figure {
    position: relative;
    height: 300px;
    cursor: pointer;
    width: 250px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
}

.contenedor1 figure img {
    width: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}

.contenedor1 figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 103, 123, 0.7);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedor1 figure:hover>.capa {
    opacity: 1;
    visibility: visible;
}

.contenedor1 figure:hover>.capa h3 {
    margin-top: 70px;
    margin-bottom: 15px;
}

.contenedor1 figure:hover>img {
    transform: scale(1.3);
}

.contenedor1 figure .capa h3 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
    margin-top: 30px;
}

.contacto{
background-color: #3E8DA8;
}