.ctn-title1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30rem;
    background-image: url('https://m.media-amazon.com/images/I/51VDX4fdE8L._SS400_.jpg');
    background-repeat: repeat;
    height: 200px;
    flex-wrap: wrap;
}

.ctn-title1 h1 {
    font-size: 50px;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
}

.ctn-section3 {
    display: flex;
    width: 100%;
flex-direction: row;
flex-wrap: wrap;
}

.ctn-listado{
    display: flex;
    flex-direction: column;
    background-color: white;
    width:20%;
    border-radius: 20px;
    margin: 20px;
    height: 610px;
}

.ctn-listado h2{
    font-size: 25px;
    padding:10px 20px 20px 10px;
    margin-top: 10px;
}

.ctn-listado h3{
    font-size: 20px;
    padding:10px 20px 20px 10px;
}

.ctn-lista{
    display: flex;
    flex-direction: column;
}

.ctn-lista li{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 20%;
}

.ctn-lista li a{
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
  }


  .ctn-productos{
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  .ctn-card2{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .ctn-card2 div{
    width: 100%;
    display: flex;
    flex-direction: column;
  }


  .ctn-card2 div h2{
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .ctn-card2 div span{
    width: 100%;
    font-size: 15px;
    text-align: center;
  }

 