.ctn-main{
    width: 100vw;
}

.ctn-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30rem;
    background-image: url('https://img.interempresas.net/fotos/325570.jpeg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100%;
    flex-wrap: wrap;
}

.ctn-title h1{
    font-size: 60px;
    margin-top: 100px;
}

.ctn-section1{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 100%;
    flex-wrap: wrap;
}

.ctn-texto{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.ctn-texto h3{
    font-size: 15px;
    margin-top: 40px;
    margin-left: 40px;
    text-transform: uppercase;
}

.ctn-texto h2{
    font-size: 35px;
    margin-top: 10px;
    margin-left: 40px;
    width: 90%;
}

.ctn-texto span{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 40px;
    width: 80%;
}

.ctn-texto p{
    font-size: 16px;
    margin-top: 20px;
    margin-left: 40px;
    line-height: 25px;
    width: 80%;
}


.btn{
width: 200px;
margin: auto;
margin-left: 40px;
margin-top: 30px;
padding: 15px;
cursor: pointer;
border-radius: 8px;
transition: all 300ms ease;
}

.btn:hover{
    scale: 1.1;
}

.ctn-img{
    width: 50%;
    margin: auto;
}

.ctn-img img{
    width: 80%;
}

.ctn-section2 {
    background-color:#EEEEEE;
    margin-top: 60px;
    flex-wrap: wrap;
}

.ctn-checklist{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.checklist{
margin: 10px;
padding: 10px;
width: 250px;
}

.checklist ol{
    margin-left: 20px
}

.checklist ol li{
    font-size: 14px;
    padding: 5px;
    list-style: none;
    text-align: left;
}

.ctn-section3{
    background-color: #EEEEEE;
    margin-top: 60px;
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.ctn-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 50%;
}

.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contenedor figure{
   position:relative;
    height: 300px;
    cursor: pointer;
    width: 250px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}
.contenedor figure img{
    width: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}
.contenedor figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,103,123,0.7);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
   text-align: center;
}
.contenedor figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}
.contenedor figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.contenedor figure:hover > img{
    transform: scale(1.3);
}
.contenedor figure .capa h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
     margin-top: 30px;
}

.btn1{
    width: 200px;
    margin: auto;
    margin-top: 100px;
    padding: 15px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms ease;
    }
    
    .btn1:hover{
        scale: 1.1;
    }

    .ctn-section4{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        margin-top: 30px;
        margin-bottom: 30px;

    }

    .ctn-section4 .ctn-texto2{
        margin-left: 30px;
    }

    .ctn-section4 input{
        margin: auto;
    }

    @media screen and (max-width: 768px) {

        .ctn-section3 {
            flex-direction: column;
            align-items: center;
        }

        .ctn-texto h3 {
           text-align: center;
        }

        .ctn-texto h2 {
            text-align: center;
        }

        .ctn-texto span {
            text-align: center;
            width: 90%;
        }

        .ctn-texto p {
           text-align: center;
           width: 80%;
           margin-left: 60px;
        }

        .btn {
            width: 200px;
            margin: auto;
            margin-left: 100px;
            margin-top: 30px;
            padding: 15px;
            cursor: pointer;
            border-radius: 8px;
            transition: all 300ms ease;
        }


        .ctn-card {
            width: 80%;
        } 
    }

    @media screen and (max-width: 425px){
        
        .ctn-section1 {
            flex-direction: column;
            align-items: center;
        }


    }