.home {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "title title title title"
      "ctn-text ctn-text ctn-text ctn-text"
      "ctn-list ctn-list ctn-list ctn-list"
      "ctn-img1 ctn-img1 ctn-text1 ctn-text1"
      "-ctn-text2 -ctn-text2 ctn-card ctn-card"
      "ctn-conact ctn-conact ctn-conact ctn-conact";
  }
  
  .title { grid-area: title; }
  
  .ctn-text { grid-area: ctn-text; }
  
  .ctn-list { grid-area: ctn-list; }
  
  .ctn-img1 { grid-area: ctn-img1; }
  
  .ctn-text1 { grid-area: ctn-text1; }
  
  .-ctn-text2 { grid-area: -ctn-text2; }
  
  .ctn-card { grid-area: ctn-card; }
  
  .ctn-conact { grid-area: ctn-conact; }


  //seccion 1
.title{
    grid-area: title;
    width: 100%;
}

.title img{
    width: 100%;
    padding:100px 0px 0px 0px;
}

//seccion 2
.ctn-text{
    grid-area: ctn-text;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    background-color: #e8f1f5;
    padding-bottom: 30px;
    padding-top: 30px;
}

.ctn-texto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45%;
    margin: auto;
    margin-left: 20px;
}

.ctn-texto h3 {
    font-size: 15px;
    margin: auto;
    text-transform: uppercase;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}

.ctn-texto h2 {
    font-size: 35px;
    margin-top: 10px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: #566c41;
    text-align: center;
}

.ctn-texto span {
    font-size: 20px;
    margin: auto;
    margin-top: 10px;
    width: 90%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
}

.ctn-texto p {
    font-size: 16px;
    margin: auto;
    margin-top: 20px;
    line-height: 25px;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.btn {
    width: 200px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 15px;
    cursor: pointer;
    border: solid 3px #566c41;
    border-radius: 8px;
    transition: all 300ms ease;
    font-family: 'Roboto', sans-serif;
    color: #566c41;

}

.btn:hover {
    scale: 1.1;
    font-weight: 600;
}


.ctn-img{
    width: 50%;
    margin-right: 20px;
}

.ctn-img img{
    width: 100%;
    height: 100%;
}

//SECTION 3

.ctn-list{
    grid-area: ctn-list;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.ctn-list .ctn-text


.ctn-checklist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.checklist {
    margin: 10px;
    padding: 10px;
    width: 250px;
}

.checklist ol {
    margin: auto;
}

.checklist ol li {
    font-size: 14px;
    padding: 5px;
    list-style: none;
    text-align: left;
}

.fa-solid{
color: rgb(13, 153, 13);
}


//MEDIA SCREEM

@media screen and (max-width: 768px){
    .ctn-texto {
        width: 100%;
        margin: auto;
    }
    
    .ctn-img{
        width: 100%;
        margin-left: 25px;
    }
    .ctn-img img{
        width: 100%;
    }
}

@media screen and (max-width: 425px){
    .ctn-texto {
        width: 100%;
        margin: auto;
    }
    
    .ctn-img{
        width: 100%;
        margin: auto;
    }
    
    .ctn-img img{
        width: 90%;
margin-left: 20px;
    }

    .ctn-texto h3{
        font-size: 14px;
    }

    .ctn-texto h2{
        font-size: 25px;
    }

    .ctn-texto span{
        font-size: 18px;
    }

    .ctn-texto p{
        font-size: 12px;
    }

}

@media screen and (max-width: 320px){
 .ctn-img img{
margin-left: 15px;
    }
}