.ctn-main{
    width: 100vw;
}

.ctn-title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-image: url('https://img.interempresas.net/fotos/325570.jpeg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100%;
}

.ctn-title h1{
    font-size: 60px;
    margin-top: 100px;
}

.ctn-section1{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 70vh;
}

.ctn-texto{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.ctn-texto h3{
    font-size: 15px;
    margin-top: 40px;
    margin-left: 40px;
    text-transform: uppercase;
}

.ctn-texto h2{
    font-size: 35px;
    margin-top: 10px;
    margin-left: 40px;
    width: 90%;
}

.ctn-texto span{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 40px;
    width: 80%;
}

.ctn-texto p{
    font-size: 16px;
    margin-top: 20px;
    margin-left: 40px;
    line-height: 25px;
    width: 80%;
}


.btn{
width: 200px;
margin: auto;
margin-left: 40px;
margin-top: 30px;
padding: 15px;
cursor: pointer;
border-radius: 8px;
transition: all 300ms ease;
}

.btn:hover{
    scale: 1.1;
}

.ctn-img{
    width: 50%;
    margin: auto;
}

.ctn-img img{
    width: 500px;
}

.ctn-section2 {
    background-color:#EEEEEE;
    margin-top: 60px;
}

.ctn-checklist{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    margin-top: 30px;
}

.checklist{
margin: 10px;
padding: 10px;
width: 250px;
}

.checklist ol{
    margin-left: 20px
}

.checklist ol li{
    font-size: 14px;
    padding: 5px;
    list-style: none;
    text-align: left;
}



