.ctn-main {
    width: 100vw;
}

.ctn-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://res.cloudinary.com/daieukhdg/image/upload/v1677873042/Terekua/Mesa_de_trabajo_1_kxkygr.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    flex-wrap: wrap;
    height: 350px;
}

.ctn-title h1 {
    font-size: 60px;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: #fff;
}

.ctn-section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 100%;
    flex-wrap: wrap;
}

.ctn-texto {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.ctn-texto h3 {
    font-size: 15px;
    margin: auto;
    margin-top: 40px;
    text-transform: uppercase;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}

.ctn-texto h2 {
    font-size: 35px;
    margin: auto;
    margin-top: 10px;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: #566c41;
}

.ctn-texto span {
    font-size: 20px;
    margin: auto;
    margin-top: 10px;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.ctn-texto p {
    font-size: 16px;
    margin: auto;
    margin-top: 20px;
    line-height: 25px;
    width: 80%;
    font-family: 'Roboto', sans-serif;
}

.btn {
    width: 200px;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    cursor: pointer;
    border: solid 3px #566c41;
    border-radius: 8px;
    transition: all 300ms ease;
    font-family: 'Roboto', sans-serif;
    color: #566c41;

}

.btn:hover {
    scale: 1.1;
}

.ctn-img {
    width: 50%;
    margin: auto;
}

.ctn-img img {
    margin: auto;
    max-width: 90%;
    margin-top: 40px;
}

.ctn-section2 {
    background-color: #EEEEEE;
    margin-top: 60px;
    flex-wrap: wrap;
}

.ctn-checklist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.checklist {
    margin: 10px;
    padding: 10px;
    width: 250px;
}

.checklist ol {
    margin: auto;
}

.checklist ol li {
    font-size: 14px;
    padding: 5px;
    list-style: none;
    text-align: left;
}

.fa-solid{
color: rgb(13, 153, 13);
}

.ctn-section3 {
    background-color: #EEEEEE;
    margin-top: 60px;
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.ctn-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 50%;
}

.contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor figure {
    position: relative;
    height: 300px;
    cursor: pointer;
    width: 250px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
}

.contenedor figure img {
    width: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}

.contenedor figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 103, 123, 0.7);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedor figure:hover>.capa {
    opacity: 1;
    visibility: visible;
}

.contenedor figure:hover>.capa h3 {
    margin-top: 70px;
    margin-bottom: 15px;
}

.contenedor figure:hover>img {
    transform: scale(1.3);
}

.contenedor figure .capa h3 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
    margin-top: 30px;
}

.btn1 {
    width: 200px;
    margin: auto;
    margin-top: 100px;
    padding: 15px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms ease;
}

.btn1:hover {
    scale: 1.1;
}

.ctn-section4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

.ctn-section4 .ctn-texto2 {
    margin-left: 30px;
}

.ctn-section4 input {
    margin: auto;
}

@media screen and (max-width: 1024px){
    .ctn-title {
        height: 280px;
    }
   
    .ctn-section3 {
        flex-direction: column;
        align-items: center;
    }

    .contenedor {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media screen and (max-width: 768px) {

    .ctn-title {
        height: 250px;
    }

    .ctn-section1 {
        flex-direction: column;
    }

    .ctn-texto h3 {
        text-align: center;
        font-size: 20px;
    }

    .ctn-texto h2 {
        text-align: center;
    }

    .ctn-texto span {
        text-align: center;
    }

    .ctn-texto p {
        text-align: center;
    }


    .ctn-section3 {
        flex-direction: column;
        align-items: center;
    }

    .ctn-card {
        width: 80%;
    }

    .ctn-img img {
        margin: auto;
    }

    .ctn-img {
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;

    }

    .ctn-section2 .ctn-texto {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .ctn-checklist {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 425px) {

    .ctn-section1 {
        flex-direction: column;
        align-items: center;
    }

    .ctn-card {
        flex-direction: column;
    }

    .contenedor {
    height: 100%;
    margin-top: 20px;
        margin-bottom: 20px;
    }

    .ctn-section4{
        height: 100%;
    }

    .ctn-section4 .ctn-texto2 {
        margin: auto;
    }

    .ctn-texto2 h2{
        width: 90%;
        text-align: center;
        margin-bottom: 20px;
    }

    .ctn-texto2 span{
        width: 90%;
        text-align: center;
        margin-left: 40px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .ctn-section4 input {
        margin: auto;
        margin-top: 30px;
    }


}