.picnic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0, 5fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "banner banner banner banner"
        "slider slider slider slider"
        "impacto impacto impacto impacto"
        "info-tecnica info-tecnica info-tecnica info-tecnica"
        "ctn-contact ctn-contact ctn-contact ctn-contact";
}

.banner {
    grid-area: banner;
    padding-top: 80px;
}

.impacto {
    grid-area: impacto;
}

.info-tecnica {
    grid-area: info-tecnica;
}

.ctn-contact {
    grid-area: ctn-contact;
}

.slider {
    grid-area: slider;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.imagenes {
    width: 50%;
}

.referencias {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.referencias .ctn-l {
    width: 100%;
    margin: auto;
    text-align: left;
    margin-left: -30px;
    padding-bottom: 20px;
}

.referencias .ctn-texto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    text-align: center;
}

.referencias .ctn-texto p {
    font-size: 14px;
    width: 90%;
    text-align: left;
    padding-bottom: 20px;
}

.ctn-precio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ctn-precio h3 {
    font-size: 40px;
    font-weight: 800;
}

//CONTADORES

.impacto {
    grid-area: impacto;
    width: 100%;
    background-color: beige;
    padding-top: 20px;
}

.impacto .ctn-texto {
    width: 100%;
}

.impacto .ctn-texto h2 {
    font-size: 30px
}

.impacto .ctn-texto h3 {
    font-size: 20px
}

.impacto img{
    padding-top:40px ;
}



//MEDIA

@media screen and (max-width: 768px) {
    .slider {
        flex-direction: column;
        height: 100%;
    }

    .imagenes {
        width: 100%;
        justify-content: flex-start;
        margin-bottom: 60px;
    }

    .referencias {
        width: 80%;
        text-align: center;
    }

    .ctn-lista1 li {
        font-size: 14px;
    }
}