.product {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "carrusel carrusel descripcion descripcion"
      "impact impact impact impact"
      "info-tecnica info-tecnica info-tecnica info-tecnica"
      "beneficios beneficios beneficios beneficios"
      "info info info info";
  }
  
  .carrusel { grid-area: carrusel; }
  
  .descripcion { grid-area: descripcion; }
  
  .impact { grid-area: impact; }
  
  .info-tecnica { grid-area: info-tecnica; }
  
  .beneficios { grid-area: beneficios; }
  
  .info { grid-area: info; }

  
  @mixin aspect-ratio($width, $height) {
    position: relative;
      
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: ($height / $width) * 100%;
    }
      
    > img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
    }
  }
  
  // Styling
  
  section {
      background: #F4F4F4;
      padding: 50px 0;
  }
  
  .container {
      max-width: 1044px;
      margin: 0 auto;
      padding: 0 20px;
  }
  
  .carousel {
      display: block;
      text-align: left;
      position: relative;
      margin-bottom: 22px;
      
      > input {
          clip: rect(1px, 1px, 1px, 1px);
          clip-path: inset(50%);
          height: 1px;
          width: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          
          &:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -300%; }
          &:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -200%; }
          &:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -100%; }
          &:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: 0%; }
          
          &:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) { box-shadow: 0px 0px 0px 5px #3E8DA8; }
          &:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) { box-shadow: 0px 0px 0px 5px #3E8DA8; }
          &:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) { box-shadow: 0px 0px 0px 5px #3E8DA8; }
          &:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) { box-shadow: 0px 0px 0px 5px #3E8DA8; }
      }
  }
  
  .carousel__slides {
      position: relative;
      z-index: 1;
      padding: 0;
      margin: 0;
    margin-top: 100px;
      overflow: hidden;
      white-space: nowrap;
      box-sizing: border-box;
      display: flex;
  }
  
  .carousel__slide {
      position: relative;
      display: block;
      flex: 1 0 100%;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transition: all 300ms ease-out;
      box-sizing: border-box;
      white-space: normal;
      
      figure {
          display: flex;
          margin: 0;
      }
      
      div {
          @include aspect-ratio(3, 2);
          width: 100%;
      }
      
      img {
          display: block;
          flex: 1 1 auto;
          object-fit: cover;
      }
      
      figcaption {
          align-self: flex-end;
          padding: 20px 20px 0 20px;
          flex: 0 0 auto;
          width: 25%;
          min-width: 150px;
          font-size: 12px;
      }
      
      .credit {
          margin-top: 1rem;
          color: rgba(0, 0, 0, 0.5);
          display: block;        
      }
      
      &.scrollable {
          overflow-y: scroll;
      }
  }
  
  .carousel__thumbnails {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      margin-left: 30px;
      
      .carousel__slides + & {
          margin-top: 20px;
      }
      
      li {        
          flex: 1 1 auto;
          max-width: calc((100% / 6) - 20px);  
          margin: 0 10px;
          transition: all 300ms ease-in-out;
      }
      
      label {
          display: block;
          @include aspect-ratio(1,1);
          
                    
          &:hover,
          &:focus {
              cursor: pointer;
              
              img {
                  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.25);
                  transition: all 300ms ease-in-out;
              }
          }
      }
      
      img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
  }

  .descripcion{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }

  .ctn-t{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .ctn-t h2{
    margin: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
  }

  .ctn-t p{
    margin: auto;
    width: 80%;
    text-align: left;
    font-size: 14px;
  }

  .ctn-l{
    width:80%;
    margin-left: 60px;
  }

  .ctn-lista1 {
    width: 100%;
  }

  .ctn-lista1 li{
    font-size: 14px;
    font-weight: 800;
    width: 100%;
  }

  .ctn-lista1 li i{
    font-size: 12px;
    margin-right: 10px;
  }
  
  .ctn-precio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .ctn-precio h3{
    margin: auto;
    font-size: 60px;
    margin-top: 10px;
    width: 60%;
    text-align: right;
  }

  .ctn-precio span{
    margin-top: 10px;
    width: 20%;
  }


  .btn2{
        width: 200px;
        margin: auto;
        margin-right: 150px;
        padding: 15px;
        cursor: pointer;
        border-radius: 8px;
        transition: all 300ms ease;
        font-family: 'Roboto', sans-serif;
        margin-top: 30px;
  }

  .btn2:hover {
    scale: 1.1;
}

.contador{
    height:155px;
    width: 320px;
    margin: 200px 100px;
}

.numero{
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 12.8em;
    font-weight: bold;
    font-family:  sans-serif;
   color: #555;
    position: absolute;
    transform: rotate(-180deg);
    mix-blend-mode: screen;
    background-color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
}
.color_fondo{
    transition: .2s;
    transform-origin: bottom;
    position: absolute;
    display: block;
   height: 0%;
    width: 100%;
    background-color: #3E8DA8;
}

//CONTADOR


.impact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.impact h2{
    font-size: 30px;
}

.ctn-contador{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    align-items:center;
    justify-content: center;
}



.contador-ctn{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.contador-ctn i{
font-size: 60px;
margin: auto;
}

.contador{
    margin: auto;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
}

.contador-ctn h2{
    font-size: 15px;
    margin: auto;
    text-align: center;
    margin-top: -40px;
}

@keyframes aparecer{
    0%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0px);
    }
}
.ocultar{
    opacity: 0;
}
.animar{
    animation: aparecer 3s ;
    opacity: 1;
}