
.ctn-title h1 {
    font-size: 60px;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: #fff;
}




.ctn-section4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

.ctn-section4 .ctn-texto2 {
    margin-left: 30px;
}

.ctn-section4 input {
    margin: auto;
}

@media screen and (max-width: 1024px){
    .ctn-title {
        height: 280px;
    }
   
    .ctn-section3 {
        flex-direction: column;
        align-items: center;
    }

    .contenedor {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media screen and (max-width: 768px) {

    .ctn-title {
        height: 250px;
    }

    .ctn-section1 {
        flex-direction: column;
    }

    .ctn-texto h3 {
        text-align: center;
        font-size: 20px;
    }

    .ctn-texto h2 {
        text-align: center;
    }

    .ctn-texto span {
        text-align: center;
    }

    .ctn-texto p {
        text-align: center;
    }


    .ctn-section3 {
        flex-direction: column;
        align-items: center;
    }

    .ctn-card {
        width: 80%;
    }

    .ctn-img img {
        margin: auto;
    }

    .ctn-img {
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;

    }

    .ctn-section2 .ctn-texto {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .ctn-checklist {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 425px) {

    .ctn-section1 {
        flex-direction: column;
        align-items: center;
    }

    .ctn-card {
        flex-direction: column;
    }

    .contenedor {
    height: 100%;
    margin-top: 20px;
        margin-bottom: 20px;
    }

    .ctn-section4{
        height: 100%;
    }

    .ctn-section4 .ctn-texto2 {
        margin: auto;
    }

    .ctn-texto2 h2{
        width: 90%;
        text-align: center;
        margin-bottom: 20px;
    }

    .ctn-texto2 span{
        width: 90%;
        text-align: center;
        margin-left: 40px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .ctn-section4 input {
        margin: auto;
        margin-top: 30px;
    }


}