header {
    width: 100vw;
}

.ctn-nav {
    background-color: #EEEEEE;
    width: 100%;
    display: flex;
    height: 130px;
    position: fixed;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.nav-logo img {
    margin: auto;
    margin-top: 30px;
    margin-left: 40px;
    width: 150px;
    transition: all 300ms ease;
    cursor: pointer;
}

.nav-logo img:hover {
    transform: scale(1.1)
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;
    width: 70%;
}

.nav-links li {
    float: left;
    display: flex;
    justify-content: space-around;
    margin: auto;
    text-decoration: none;
    position: relative,
}

.nav-links li ul {
    background-color: #EEEEEE;
    display: none;
    position: absolute;
    width: 150px;
    padding: 10px;
    top: 40px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.nav-links li ul li {
    width: 100%;
    margin: auto;
    text-align: center;
    z-index: 100;

}

.nav-links li:hover>ul {
    display: block;
}

.nav-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: #EEEEEE;
    font-size: 15px;
    padding: 10px 15px;
    transition: .3s;
    list-style: none;
}

.nav-links a:hover {
    background-color: #c7c5c5;
    color: rgb(58, 57, 57);
    border-radius: 3px;

}


.toggle {
    color: #000000;
    font-size: 20px;
    transform: rotate(90deg);
    cursor: pointer;
    transition: .3s;
    display: none;
    position: absolute;
    translate: 220px 50px;
}

.rotate {
    transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
    .toggle {
        display: inline-block;
        translate: 720px 50px;
    }

    .nav-links {
        position: absolute;
        display: flex;
        flex-direction: column;
        background: #EEEEEE;
        text-align: center;
        overflow: hidden;
        height: calc(100vh - 80px);
        width: 100%;
        z-index: -50;
        top: -100vh;
        transition: .5s;
    }

    .active {
        top: 80px;
    }

    .nav-links .link:hover {
        background: #051c38;
    }

    .nav-logo img {
        width: 120px;
    }
}

@media screen and (max-width:425px) {
    .toggle {
        translate: 390px 50px;
    }
}

@media screen and (max-width:375px) {
    .toggle {
        translate: 330px 50px;
    }

}

@media screen and (max-width:320px) {
    .toggle {
        translate: 280px 50px;
    }

    .nav-logo img {
        margin-top: 40px;
        width: 90px;
    }

}